.recipe {
  h2 { margin: .7em; }
  max-width: 1200px;
  margin: auto;
  text-align: center;
  background: #fff;
  padding: 1rem;
  box-sizing: border-box;

  .time-to-cook {
    font-weight: bold;
  }
  
  ul {
    font-size: .9em;
    display: flex;
    padding: .8em;
    justify-content: center;
    margin-top: 0;
    
    li {
      list-style-type: none;
      margin-right: 10px;
      color: #777;
        
      &::after {
        content: ",";
      }

      &:last-child::after {
        content: ".";
      }
    }
  }

  button {
    display: block;
    width: 100px;
    font-size: .8em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #b90e0e;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem auto;
    box-shadow: 0 3px 8px #575757;
    
    &:hover {
      box-shadow: 0 2px 8px #575757;
      transform: scale(99%);
    }
  }

  .method {
    text-align: left;
    line-height: 1.5em;
  }
}