.navbar {
    background: url('./banner.jpg') no-repeat center center fixed ;
    color: #fff;
    width: 100%;
    padding: .5rem;
    text-align: center;
    height: 8em;
    min-height: 100%;
    display: flex; 
    text-shadow: 2px 2px 5px #291818;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        
        @media  (max-width: 450px) {
            flex-direction: column;
        }
    }
    
    a {
        margin: .5rem;
        text-decoration: none;
        
        h1 { 
            color: #fff;
            font-size: 1.8em;
        }

        &:last-child {
            color: #fff;
            padding: 3px 5px;
            border: 1px solid #fff;
            border-radius: 5px;
            font-size: .9em;

            @media  (max-width: 450px) {
                margin-top: 1.3rem;
            }

            &:hover {
                background: #fff;
                color: #333;
            }
        }
    }
}